html{
    font-size: 16px;
}
@media screen and (device-width: 320px) {
    html {
      font-size: 16px;
    }
  }
  
  
  @media screen and (device-width: 360px) {
    html {
      font-size: 18px;
    }
  }
  
  
  @media screen and (device-width: 375px) {
    html {
      font-size: 18.75px;
    }
  }
  
  
  @media screen and (device-width: 414px) {
    html {
      font-size: 20.7px;
    }
  }
  @media screen and (device-width: 768px) {
    html {
      font-size: 38.4px;
    }
  }
  @media screen and (device-width: 1182px) {
    html {
      font-size: 59.1px;
    }
  }
  ul{
    list-style:none;
}
a{
    color: #666;
}
span,img{
    display: block;
}
.title{
    
    z-index: 999;
    position: fixed;
    top:0;
    left:0;
    height: (50rem/16);
    background-image: linear-gradient(#ff841d,#ff7f27);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left:(10rem/16);
    padding-right: (10rem/16);
    color:white;
    line-height:  (50rem/16);
    width:100%;
    span:first-of-type{
        height: 80%;
        &::before{
           
            font-size:(30rem/16);
            position: absolute;
            top:(5rem/16);

            
        }
    }
    span:nth-child(2){
        font-size:(24rem/16);

    }
    span:nth-child(3){
        img{
            height: (35rem/16);
        }
    }
}
.zk-product{
    margin-top:(50rem/16);
    display: flex;
    flex-wrap: wrap;
    padding:0;
    box-sizing: border-box;
    
    li{
        width:50%;
        border:1px solid #f1f1f1;
        position: relative;
        height: (265rem/16);
        a{
            height: 100%;
            display: flex;
            flex-direction: column;
            // height: 90%;
            span{
                display: block;
                padding-left:(5rem/16);
            }
            span:nth-child(1){
                display: flex;
                flex-direction: column;
                align-items: center;
                padding:(10rem/16) (15rem/16);
                height: 67%;
                padding: (20rem/16);
                img{
                    width:(138rem/16);
                    height: (138rem/16);
                }
            }
            span:nth-child(2){
                // font-weight: bold;
                height: 15%;
                color:black; 
                font-size:(14rem/16);
                overflow: hidden;
                margin-top:(5rem/16);
                // margin-top:(10rem/16);
                

            }
            span:nth-child(3){
                height: 8%;
                color:#ff6c4f;
                font-size:(14rem/16);
                overflow: hidden;
            }
            span:nth-child(4){
                height: 10%;
                color:#a1a1a1;
                margin-top:(5rem/16);
                // position: absolute;
                // bottom:0;
                text-align: bottom;
                font-size:(12rem/16);
            }
        }
        a:hover{
            text-decoration: none;
            color:blue;
        }
       
    }
}
.footer{
    background: #f1f1f1;
    .denglu{
        // height: (90rem/16);
        display: flex;
        // padding: (30rem/16) 0;
        margin:  (30rem/16) 0;
        border: 1px solid #ccc;

        span{
            width:33.33333%;
            // border: 1px solid #ccc;
            text-align: center;
            height: (30rem/16);
            line-height:  (30rem/16);
            color:black;
            font-size: 1.1rem;
        }
        span:nth-child(1){
            border-right: 1px solid #ccc;
        }
        span:nth-child(2){
            border-right: 1px solid #ccc;
            // margin-top:(10rem/16);
        }
        span:nth-child(3){
            line-height: (26rem/16);
            &::before{
                position: relative;
                top:(2rem/16);
            }
        }
    }
    .zuihou{
        padding-bottom:(10rem/16);
        text-align: center;
        font-size:1rem;
        div:nth-of-type(1){
            font-size: (13rem/16);
            display: flex;
            justify-content: center;
            span:first-child{
                color:Red;
            }
            span:last-child{
                color:#666666;
                font-size: (14rem/16);
            }
        }
        div:last-child{
            color:#666666;
            font-size: (12rem/16);
        }
    }
}
.footer {
    margin-top: 25px;
    padding-top: 20px;
    >.footer-nav {
        display: flex;

        li {
            flex: 1;
            line-height: (34rem/16);
            font-size: 14px;
            text-align: center;
            border-top: 1px solid #c4c4c4;
            border-bottom: 1px solid #c4c4c4;

        }

        li:nth-of-type(-n+2) {
            border-right: 1px solid #c4c4c4;
        }

    }

    >.footer-text {
        text-align: center;
        font-size: 12px;
        padding: 15px 0;
        color: #666;

        >p {
            a:nth-of-type(1) {
                color: red;

            }
        }
    }
}